In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")
%matplotlib inline

In [2]:
%cd "C:\DSBA\Advanced BA\Project"

C:\DSBA\Advanced BA\Project

In [3]:
df=pd.read_csv('Campaign.csv',encoding="iso-8859-1")
df.head()

,Id,IsDeleted,Name,ParentId,Type,RecordTypeId,Status,StartDate,EndDate,ExpectedRevenue,...,Workshop_Length_In_Days__c,Number_of_Registrants__c,EO_Email_Campaign__c,Recommendation_Rating_Total__c,Number_Recommendation_Ratings__c,Account_Name__c,stayclassy__Classy_Mode_Checked_By_Default__c,stayclassy__Classy_Mode_Enabled__c,stayclassy__Effective_Fixed_FOT_Percent__c,stayclassy__Fixed_FOT_Percent__c
0,7010z000000mBaVAAU,0,O2O Volunteer Program Email,000000000000000AAA,Email,012380000009wCN,Completed,NaN,NaN,NaN,...,NaN,NaN,0.0,0,0,NaN,0.0,0.0,NaN,NaN
1,7010z000000mBazAAE,0,Registration Push,000000000000000AAA,Email,012380000009wCN,Completed,NaN,NaN,NaN,...,NaN,NaN,0.0,0,0,NaN,0.0,0.0,NaN,NaN
2,7010z000000mBcvAAE,0,Mass Email - SES Spanish Bilingual Communicati...,000000000000000AAA,Email,012380000009wCN,In Progress,NaN,NaN,NaN,...,NaN,NaN,1.0,0,0,0010z00001UVARVAA5,0.0,0.0,NaN,NaN
3,7010z000000mBd0AAE,0,Change Health Care_Email Campaign,000000000000000AAA,Email,012380000009wCN,In Progress,NaN,NaN,NaN,...,NaN,NaN,0.0,0,0,0013800001Oeg5VAAR,0.0,0.0,NaN,NaN
4,7010z000000mBiFAAU,0,Mass Email - Evicore Non Clinical Intake 1.16.19,000000000000000AAA,Email,012380000009wCN,Completed,NaN,NaN,NaN,...,NaN,NaN,1.0,0,0,0010z00001SdvU2AAJ,0.0,0.0,NaN,NaN

In [5]:
df.isnull().sum()

Id                                                  0
IsDeleted                                           0
Name                                                0
ParentId                                            3
Type                                               61
                                                 ...
Account_Name__c                                  1166
stayclassy__Classy_Mode_Checked_By_Default__c     838
stayclassy__Classy_Mode_Enabled__c                838
stayclassy__Effective_Fixed_FOT_Percent__c       1345
stayclassy__Fixed_FOT_Percent__c                 1372
Length: 103, dtype: int64

In [6]:
null_cnt=pd.DataFrame(df.isnull().sum())
null_cnt.reset_index(inplace=True)
null_cnt.columns=['Columns','NULL']
#null_cnt[null_cnt['NULL']>60000]['Columns'].tolist()
#null_cnt.to_csv('Campaign_NULL.csv')

In [9]:
df_filt=df[null_cnt[null_cnt['NULL']<=df.shape[0]/2]['Columns'].tolist()]
df_filt.head()

,Id,IsDeleted,Name,ParentId,Type,RecordTypeId,Status,StartDate,EndDate,ExpectedResponse,...,GW_Volunteers__Volunteer_Completed_Hours__c,GW_Volunteers__Volunteer_Jobs__c,GW_Volunteers__Volunteer_Shifts__c,GW_Volunteers__Volunteers_Still_Needed__c,stayclassy__Allocated_Fund__c,stayclassy__Deferred_Transaction_Amount__c,Number_Quality_Survey_Ratings__c,Quality_Survey_Rating_Total__c,Recommendation_Rating_Total__c,Number_Recommendation_Ratings__c
0,7010z000000mBaVAAU,0,O2O Volunteer Program Email,000000000000000AAA,Email,012380000009wCN,Completed,NaN,NaN,0,...,0.0,0,0,0,0,0,0,0,0,0
1,7010z000000mBazAAE,0,Registration Push,000000000000000AAA,Email,012380000009wCN,Completed,NaN,NaN,0,...,0.0,0,0,0,0,0,0,0,0,0
2,7010z000000mBcvAAE,0,Mass Email - SES Spanish Bilingual Communicati...,000000000000000AAA,Email,012380000009wCN,In Progress,NaN,NaN,0,...,0.0,0,0,0,0,0,0,0,0,0
3,7010z000000mBd0AAE,0,Change Health Care_Email Campaign,000000000000000AAA,Email,012380000009wCN,In Progress,NaN,NaN,0,...,0.0,0,0,0,0,0,0,0,0,0
4,7010z000000mBiFAAU,0,Mass Email - Evicore Non Clinical Intake 1.16.19,000000000000000AAA,Email,012380000009wCN,Completed,NaN,NaN,0,...,0.0,0,0,0,0,0,0,0,0,0

In [11]:
df_filt.isnull().sum().sort_values(ascending=False)

EndDate                                        662
HierarchyActualCost                            594
HierarchyBudgetedCost                          594
CampaignImageId                                573
HierarchyExpectedRevenue                       569
StartDate                                      413
RecordTypeId                                    79
Type                                            61
ParentId                                         3
Status                                           3
NumberSent                                       1
AmountWonOpportunities                           0
AmountAllOpportunities                           0
NumberOfWonOpportunities                         0
NumberOfOpportunities                            0
NumberOfResponses                                0
Number_Recommendation_Ratings__c                 0
NumberOfContacts                                 0
NumberOfConvertedLeads                           0
NumberOfLeads                                    0
HierarchyNumberOfConvertedLeads                  0
IsActive                                         0
ExpectedResponse                                 0
Name                                             0
IsDeleted                                        0
HierarchyNumberOfLeads                           0
HierarchyNumberOfResponses                       0
HierarchyNumberOfContacts                        0
SystemModstamp                                   0
Quality_Survey_Rating_Total__c                   0
Number_Quality_Survey_Ratings__c                 0
stayclassy__Deferred_Transaction_Amount__c       0
stayclassy__Allocated_Fund__c                    0
GW_Volunteers__Volunteers_Still_Needed__c        0
GW_Volunteers__Volunteer_Shifts__c               0
GW_Volunteers__Volunteer_Jobs__c                 0
GW_Volunteers__Volunteer_Completed_Hours__c      0
GW_Volunteers__Number_of_Volunteers__c           0
LastModifiedById                                 0
Recommendation_Rating_Total__c                   0
LastModifiedDate                                 0
CreatedById                                      0
CreatedDate                                      0
OwnerId                                          0
HierarchyNumberSent                              0
HierarchyAmountWonOpportunities                  0
HierarchyAmountAllOpportunities                  0
HierarchyNumberOfWonOpportunities                0
HierarchyNumberOfOpportunities                   0
Id                                               0
dtype: int64

**Check Parent Id and Campaign Type**

In [13]:
df_filt['ParentId'].value_counts()

000000000000000AAA    1197
70138000001BjuzAAC      42
7010z000001D4YLAA0      28
70138000000zYt4AAE      28
70138000000jPLuAAM      23
70138000000eNYkAAM      10
7010z000001D6ebAAC       7
7010z000001D6cGAAS       5
70138000000rmleAAA       5
70138000001QNfHAAW       4
7010z000001D6fjAAC       4
70138000000qRHzAAM       4
70138000000y8sMAAQ       3
70138000000rmWUAAY       3
7010z000001D7W5AAK       2
70138000000y9EZAAY       2
70138000000y9WzAAI       2
7010z000001D7W0AAK       2
70138000000y9ICAAY       2
70138000001MG9xAAG       2
70138000001MGAqAAO       1
7010z000001D7pqAAC       1
70138000001QJYwAAO       1
70138000000zWvdAAE       1
7010z000001D7vPAAS       1
70138000000y8XiAAI       1
70138000000qRI9AAM       1
70138000000jOhsAAE       1
Name: ParentId, dtype: int64

In [22]:
df_filt[['Id','ParentId','Type','AmountWonOpportunities','AmountAllOpportunities','NumberOfWonOpportunities','NumberOfOpportunities','CreatedDate',
        'HierarchyAmountWonOpportunities','HierarchyAmountAllOpportunities','HierarchyNumberOfWonOpportunities','HierarchyNumberOfOpportunities']]

,Id,ParentId,Type,AmountWonOpportunities,AmountAllOpportunities,NumberOfWonOpportunities,NumberOfOpportunities,CreatedDate,HierarchyAmountWonOpportunities,HierarchyAmountAllOpportunities,HierarchyNumberOfWonOpportunities,HierarchyNumberOfOpportunities
0,7010z000000mBaVAAU,000000000000000AAA,Email,0.0,0.0,0,0,1/15/2019 14:11,0.0,0.0,0,0
1,7010z000000mBazAAE,000000000000000AAA,Email,0.0,0.0,0,0,1/15/2019 14:41,0.0,0.0,0,0
2,7010z000000mBcvAAE,000000000000000AAA,Email,0.0,0.0,0,0,1/15/2019 21:54,0.0,0.0,0,0
3,7010z000000mBd0AAE,000000000000000AAA,Email,0.0,0.0,0,0,1/15/2019 22:09,0.0,0.0,0,0
4,7010z000000mBiFAAU,000000000000000AAA,Email,0.0,0.0,0,0,1/16/2019 16:23,0.0,0.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
1381,70150000000dZotAAE,000000000000000AAA,Email,0.0,0.0,0,0,11/3/2014 18:43,0.0,0.0,0,0
1382,70150000000dZoyAAE,000000000000000AAA,Email,0.0,0.0,0,0,11/3/2014 18:43,0.0,0.0,0,0
1383,70150000000dZzwAAE,000000000000000AAA,Email,0.0,0.0,0,0,11/6/2014 20:15,0.0,0.0,0,0
1384,70150000000dhdXAAQ,000000000000000AAA,NaN,0.0,0.0,0,0,3/19/2015 20:01,0.0,0.0,0,0
1385,70150000000drJVAAY,000000000000000AAA,Other,0.0,0.0,0,0,8/12/2015 17:45,0.0,0.0,0,0

Check no of ids in each parent id

In [17]:
ids=df_filt[['Id','ParentId']]
ids['count']=1
ids=ids.groupby(['ParentId','Id']).sum()
ids.reset_index(inplace=True)
ids

                ParentId                  Id  count
0     000000000000000AAA  7010z000000mBaVAAU      1
1     000000000000000AAA  7010z000000mBazAAE      1
2     000000000000000AAA  7010z000000mBcvAAE      1
3     000000000000000AAA  7010z000000mBd0AAE      1
4     000000000000000AAA  7010z000000mBiFAAU      1
...                  ...                 ...    ...
1378  70138000001QJYwAAO  70138000001QKAGAA4      1
1379  70138000001QNfHAAW  70138000000jOmnAAE      1
1380  70138000001QNfHAAW  70138000000jPNgAAM      1
1381  70138000001QNfHAAW  70138000000jPNlAAM      1
1382  70138000001QNfHAAW  70138000001QIxaAAG      1

[1383 rows x 3 columns]

Each of these ids are unique

In [23]:
ids=df_filt[['ParentId','Type','AmountWonOpportunities','NumberOfWonOpportunities','HierarchyAmountWonOpportunities','HierarchyNumberOfWonOpportunities']]
ids['count']=1
ids=ids.groupby(['ParentId','Type']).sum()
ids.reset_index(inplace=True)
ids.sort_values(by=['count'], ascending=False,inplace=True)
ids

,ParentId,Type,AmountWonOpportunities,NumberOfWonOpportunities,HierarchyAmountWonOpportunities,HierarchyNumberOfWonOpportunities,count
4,000000000000000AAA,Email,173.52,1,173.52,1,457
15,000000000000000AAA,Seminar / Conference,0.00,0,0.00,0,439
7,000000000000000AAA,Fundraiser,696344.34,1505,698165.68,1550,49
43,70138000001BjuzAAC,Fundraiser,682.20,22,682.20,22,42
1,000000000000000AAA,Crowdfunding,304463.64,901,304463.64,901,37
12,000000000000000AAA,Other,451472.25,638,451472.25,1094,37
17,000000000000000AAA,donation,34396.84,163,34396.84,163,31
41,70138000000zYt4AAE,Fundraiser,13883.72,221,13883.72,221,25
19,7010z000001D4YLAA0,Fundraiser,331.56,12,331.56,12,21
3,000000000000000AAA,Donation Page,643988.50,2109,643988.50,2109,20
30,70138000000jPLuAAM,Fundraiser,6165.42,90,6165.42,90,18
16,000000000000000AAA,Ticketed,692964.83,242,692964.83,242,13
14,000000000000000AAA,Registration With Fundraising,73336.65,495,90553.91,805,11
0,000000000000000AAA,Career/Professional Development,0.00,0,0.00,0,11
28,70138000000eNYkAAM,Fundraiser,326.00,14,326.00,14,10
22,7010z000001D6ebAAC,Fundraiser,77.40,2,77.40,2,7
8,000000000000000AAA,Fundraising Campaign,80155.12,168,88279.19,303,7
20,7010z000001D4YLAA0,Team,45.64,2,250.44,9,7
13,000000000000000AAA,Registration,0.00,0,0.00,0,6
18,000000000000000AAA,peer_to_peer,200.00,2,200.00,2,6
31,70138000000jPLuAAM,Team,114.20,2,1632.65,31,5
35,70138000000rmleAAA,Fundraiser,200.74,10,200.74,10,5
21,7010z000001D6cGAAS,Fundraiser,25.80,1,25.80,1,5
10,000000000000000AAA,Industry Expertise,0.00,0,0.00,0,5
23,7010z000001D6fjAAC,Fundraiser,20.64,1,20.64,1,4
32,70138000000qRHzAAM,Fundraiser,768.10,14,768.10,14,4
11,000000000000000AAA,Job Search Skill,0.00,0,0.00,0,3
42,70138000000zYt4AAE,Team,903.00,19,1868.60,36,3
34,70138000000rmWUAAY,Fundraiser,392.80,7,392.80,7,3
37,70138000000y8sMAAQ,Fundraiser,424.87,8,424.87,8,3
39,70138000000y9ICAAY,Other,0.00,456,0.00,456,2
38,70138000000y9EZAAY,Fundraiser,174.83,4,174.83,4,2
44,70138000001MG9xAAG,Fundraiser,10.00,1,10.00,1,2
40,70138000000y9WzAAI,Fundraiser,20.96,1,20.96,1,2
25,7010z000001D7W5AAK,Fundraiser,25.80,1,25.80,1,2
24,7010z000001D7W0AAK,Fundraiser,5.16,1,5.16,1,2
2,000000000000000AAA,Direct Mail,0.00,0,0.00,0,2
49,70138000001QNfHAAW,Registration,927061.16,127,927061.16,127,2
33,70138000000qRI9AAM,Fundraiser,129.69,2,129.69,2,1
36,70138000000y8XiAAI,Fundraiser,1821.34,45,1821.34,45,1
29,70138000000jOhsAAE,Fundraiser,0.00,0,0.00,0,1
27,7010z000001D7vPAAS,Fundraiser,0.00,0,0.00,0,1
26,7010z000001D7pqAAC,Fundraiser,50.00,1,50.00,1,1
9,000000000000000AAA,Grant,282542.19,7,282542.19,7,1
6,000000000000000AAA,Fundraise for Entry,0.00,0,0.00,0,1
5,000000000000000AAA,Federal,0.00,0,0.00,0,1
45,70138000001MGAqAAO,Fundraiser,562.80,9,562.80,9,1
46,70138000001QJYwAAO,Fundraiser,0.00,0,0.00,0,1
47,70138000001QNfHAAW,Fundraiser,179050.00,47,179050.00,47,1
48,70138000001QNfHAAW,Other,420158.53,72,420158.53,72,1

In [4]:
#Check date
df['CreatedDate']

0       1/15/2019 14:11
1       1/15/2019 14:41
2       1/15/2019 21:54
3       1/15/2019 22:09
4       1/16/2019 16:23
             ...
1381    11/3/2014 18:43
1382    11/3/2014 18:43
1383    11/6/2014 20:15
1384    3/19/2015 20:01
1385    8/12/2015 17:45
Name: CreatedDate, Length: 1386, dtype: object